/* Canvas vai ficar atrás de tudo */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #f5f7fa;
    /* O canvas vai ficar atrás de todos os outros elementos */
}

.title {
    font-size: 50px;
    position: absolute;
    top: 40px;
    left: 10%;
    font-size: 40px;
    z-index: 3;
    color: white;
}

#login {
    padding-top: 0px;
    font-size: 60px;
    color: #2c3e50;
}

.inclinado {
    position: fixed;
    width: 70%;
    height: 100vh;
    background-color: #eaecee;
    transform-origin: center;
    z-index: 1;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #4a90e2;
    ;
    width: 50%;
    height: fit-content;
    border-radius: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
